<script>
	import '@fontsource/libre-baskerville';
	import { base } from '$app/paths';
</script>

<div class="header">
	<h1 class="header__title">Leslee Puffer Makeup</h1>

	<nav class="header__nav">
		<a class="header__nav--button" href="{base}/">Home</a>
		<a class="header__nav--button" href="{base}/contact">Contact</a>
	</nav>
</div>

<slot />

<style lang="scss">
	$white: #e4e4e4;
    $lightgreen: #afde92;

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 40px;
		padding-bottom: 30px;
		position: relative;
		&:after {
			content: '';
			width: 60%;
			height: 1px;
			background-color: $white;
			margin-top: 20px;
		}


		&__nav {
			font-family: 'Libre Baskerville', sans-serif;
			font-size: 15px;
			text-decoration: none;
		}

		&__nav--button {
			color: $white;
			text-decoration: none;
			padding: 0 8px;

			&:visited {
				color: $white;
			}

			&:hover,
			&:active {
				color: $lightgreen;
			}
		}

		&__title {
			font-family: 'Libre Baskerville';
			font-size: 25px;
			color: $white;
			margin-bottom: 15px;
		}
		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			margin-left: 50px;
			margin-right: 50px;
			margin-top: 40px;
			margin-bottom: 30px;
			padding-bottom: 20px;
			border-bottom: 1px solid $white;

			&:after {
				display: none;
			}
			&__title {
				font-size: 40px;
				margin: 0;
			}

			&__nav--button {
				padding-left: 10px;
			}
		}
	}
</style>
