<script>
    import Carousel from './img-carousel.svelte';
    export let showDialog = false;
    export let closeDialog;
    export let initialIndex = 0;
    export let images = [];
</script>

{#if showDialog}
    <div class="dialog-overlay" on:click={closeDialog} on:keypress={closeDialog}>
        <div class="dialog" on:click|stopPropagation on:keypress|stopPropagation> 
            <Carousel {initialIndex} {images} />
            <button on:click={closeDialog} on:keypress={closeDialog}>Close</button>
        </div>
    </div>
{/if}

<style>
    .dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialog {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        height: 100vh;
        width: 100vh;
    }

    .dialog img {
        height: 80%;
        width: auto;
    }
</style>