<script>
    // import Dialog from './carousel-modal.svelte';
    // let showDialog = false;
    // let selectedIndex = 0;
	// import image1 from '$lib/images/image1.png';
	import { resolveRoute } from '$app/paths';
	const images = [
    	'/images/image1.jpg',
		'/images/image2.jpg',
		'/images/image3.jpg',
		'/images/image4.jpg',
		'/images/image5.jpg',
		'/images/image6.jpg',
		'/images/image7.jpg',
		'/images/image8.jpg',
		'/images/image9.jpg',
		'/images/image10.jpg',
		'/images/image11.jpg',
		'/images/image12.jpg',
		'/images/image13.jpg',
		'/images/image14.jpg',
		'/images/image15.jpg',
		'/images/image16.jpg',
		'/images/image17.jpg',
		'/images/image18.jpg',
		'/images/image19.jpg',
		'/images/image20.jpg',
		'/images/image21.jpg',
		'/images/image22.jpg',
		'/images/image23.jpg',
  ]

    // function openDialog(index) {
    //     showDialog = true;
	// 	selectedIndex = index;
    // }
</script>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
		width: 95%;
		margin: 0 auto;
    }

    /* .grid-item {
        cursor: pointer;
    } */

    .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

	@media screen and (min-width: 768px) {
		.grid {
			grid-template-columns: repeat(3, 1fr);
			width: 80%;
			max-width: 1200px;
			gap: 20px;
		}
	}
</style>

<div class="grid">
    {#each images as image, index}
		<div class="grid-item">
			<img src={`${resolveRoute(image)}`} alt={`Image ${index + 1}`}>
		</div>
    {/each}
</div>

<!-- <img src={image1} alt={`Image`}> -->


<!-- <div class="grid">
    {#each images as image, index}
		<div class="grid-item" on:keypress={() => openDialog(index)} on:click={() => openDialog(index)}>
			<img src={image} alt={`Image ${index + 1}`}>
		</div>
    {/each}
</div> -->

<!-- <Dialog {showDialog} closeDialog={() => showDialog = false} initialIndex={selectedIndex} {images}/> -->