<script>
    export let initialIndex = 0;
    export let images = [];

    let currentIndex = initialIndex;

    function nextSlide() {
        currentIndex = (currentIndex + 1) % images.length;
    }

    function previousSlide() {
        currentIndex = (currentIndex - 1 + images.length) % images.length;
    }

    $: currentIndex = initialIndex;
</script>

<div class="carousel">
    <div class="carousel__wrapper">
        {#if images.length > 0}
            <div class="carousel__image-container">
                <img class="carousel__image" src={images[currentIndex]} alt={`Image ${currentIndex + 1}`}>
            </div>
            <div class="carousel__button-group" >
                <button class="carousel__prev" on:click={previousSlide}>Previous</button>
                <button class="carousel__next"on:click={nextSlide}>Next</button>
            </div>
        {/if}
    </div> 
</div>

<style>
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 600px;
    }
    
    .carousel__image {
        max-width: 100%;
        max-height: 100%; 
        object-fit: contain;
    }

    .carousel__button-group {
        position: absolute;
        bottom: 0;
        left: 50%;
    }
</style>