<section class="contact">
    <div class="contact__wrapper">
        <span class="contact__number"><span class="contact__label">phone:</span> 847-212-2907</span>
        <span>
            <span class="contact__label">email:</span> 
            <a href="mailto:ljpuffer@gmail.com" class="contact__email">ljpuffer@gmail.com</a>
        </span>
    </div>
</section>

<style lang="scss">
    	$white: #e4e4e4;
        $lightgreen: #afde92;


    .contact {
        font-family: "Libre Baskerville", serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        margin-top: 20%;
        font-size: 20px;


        &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
        line-height: 1.3em;
        }


        &__number {
            margin-bottom: 15px;
            // margin-bottom: 25px;
        }

        &__email {
            color: $white;

            &:hover {
                color: $lightgreen;
            }
        }

        @media screen and (min-width: 768px) {
            margin-top: 60px;
            font-size: 20px;
        }

    

    }
</style>